body {
  padding-top:70px;
  background:#4A4A4A;
}
.home{
}
.navLogo {
  color:#fff!important;
}
.navbar-fixed-top {
  z-index:1000;
}
.logo {
  color:#4BBCDB;
}
#showSettings{
  cursor:pointer;
}
#addSetting{
  cursor:pointer;
}
#search{
  min-width:200px;
  background-color:#D9D9D9;
  border-radius:15px;
/*  border:;*/
}
#darken{
  display:none;
  background-color:#000;
  z-index:1000;
  opacity:0.8;
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
}
.edit-set-bar{
  font-size:15px;
}
.lvl{
  cursor:pointer;
}
.save-edit-btn{
  display:none;
}
.rgx-setting:focus{
  border-color:#66AFE9;
  box-shadow:0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline:0 none;
}
.show-setting-btn{
}
.new-life-select{
  display:none;
}
.delete-setting-btn{
  color:rgba(201,50,24,1)!important;
}
.cancel-edit-btn{
  color:rgba(201,50,24,1)!important;
  display:none;
}
.edit-setting-container{
  display:none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #EEEEEE;
    cursor: default;
}
.toggleDesc{
  color:#fff;
  font-size:11px;
}
/* ######## STREAM TABLE STYLES ######## */
#stream{
/*  color:#17D43D;*/
  table-layout:fixed;
  overflow:inherit;
}
th {
  color:#C7C7C7;
}
.systems{
  color:#f4fff6;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.system{
  cursor:pointer;
}
.line{
  font-size:14px;
  overflow:hidden;
  cursor:pointer;
}
.nowrap-line{
  white-space:nowrap;
}
.lineParsed{
  color:#f4fff6;
/*  color:#00c126;*/
}
.lineNotParsed{
  color:#c6c6c6;
/*  color:#22a43b;*/
}
.wrap-line{
  white-space:normal;
}
.lvlNA{
  color:#75bbff;
}
.lvlInfo{
  color:#a2ff9e;
}
.lvlError{
  color:#fe424b;  
}
.lvlWarning{
  color:#ffca7f;
}
.times{
  color:#C7C7C7;
/*  font-size:14px;*/
  white-space:nowrap;
  word-break:inherit;
  overflow:inherit; 
}
.table > thead > tr > th {
    border-bottom: 1px solid #020c04;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #2E2E2E;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
    vertical-align: top;
}