body {  
	background-color:#222;
  font-weight: 400;
  padding-top:100px;
/*	background:url('footer_lodyas.png');s*/
}

input, button {
  font-family: opensans, Helvetica, Arial, sans-serif!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: opensans, Helvetica, Arial, sans-serif!important;
}
span, a {
  font-family: opensans, Helvetica, Arial, sans-serif;
}
p, div {
  font-family: opensans, Helvetica, Arial, sans-serif!important;
}

/* STYLES STARTING HERE*/

.navbar-brand{
  letter-spacing:4px;
  font-weight:200!important;
}
.navLogo {
  color:#fff!important;
}
nav.navbar{
	background-color:#1F1F1F;
}
a {
	color:#097!important;
}
a:hover {
	color:#00C69D!important;
}
.nav>li>a {
	color: #eeeeee!important;	
}
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	color:#00C69D!important;
	background-color: transparent;
}
.navbar-fixed-top {
  z-index:1000;
}
.logo {
  color:#4BBCDB;
}
#show-settings{
  cursor:pointer;
}
#addSetting{
  cursor:pointer;
}
.edit-set-bar{
  font-size:15px;
}
.lvl{
  cursor:pointer;
}
.save-edit-btn{
  display:none;
}
.rgx-setting:focus{
  border-color:#66AFE9;
  box-shadow:0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline:0 none;
}
.show-setting-btn{
}
.new-life-select{
  display:none;
}
.delete-setting-btn{
  color:rgba(201,50,24,1)!important;
}
.cancel-edit-btn{
  color:rgba(201,50,24,1)!important;
  display:none;
}
.edit-setting-container{
  display:none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #EEEEEE;
    cursor: default;
}
.toggleDesc{
  color:#fff;
  font-size:11px;
}



/* ######## STREAM TABLE STYLES ######## */
section.log-stream {
  color:#fff;
}
article.log {
/*  border-bottom:1px solid black;*/
  margin-bottom:5px;
}
article.log:hover{
  background:rgba(204, 255, 253, 0.19);
}
.spacerheight{
  height:20px!important;
}
.log-system{
/*  color:#f4fff6;*/
  color:rgba(56, 163, 223, 1);
  text-shadow: black 0.1em 0.1em 0.2em;
}
.system {
  cursor:pointer;
}
.log-line{
  font-size:14px;
  cursor:pointer;
}
.log-timestamp{
/*  color:#C7C7C7;*/
  color:#47A276;
  white-space:nowrap;
  word-break:inherit;
  overflow:inherit; 
}
.nowrap-line{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.lineParsed{
  color:#f4fff6;
}
.lineNotParsed{
  color:#c6c6c6;
}
.wrap-line{
  white-space:normal;
}
.lvlNA{
  color:#75bbff;
}
.lvlInfo{
  color:#a2ff9e;
}
.lvlError{
  color:#fe424b;  
}
.lvlWarning{
  color:#ffca7f;
}

/* OUTLINE BTNS */
.btn.btn-outline-red{
  color: #d43f3a;
  background-color: rgba(224, 122, 119, 0.16);
  border-color: #d43f3a;
}
.btn.btn-outline-red:hover{
  color: #d43f3a;
  background-color: rgba(224, 122, 119, 0.46);
  border-color: #d43f3a;
}
 
.btn.btn-outline-green{
  color: #3AD47E;
  background-color: rgba(58, 212, 126, 0.08);
  border-color: #3AD47E;
}
.btn.btn-outline-green:hover{
  color: #3AD47E;
  background-color: rgba(58, 212, 126, 0.38);
  border-color: #3AD47E;
}

.btn-outline-blue {
  color: #49A5FE;
  background-color: rgba(73, 165, 254, 0.04);
  border-color: #49A5FE;
}
.btn-outline-blue:hover {
  color: #49A5FE;
  background-color: rgba(73, 165, 254, 0.3);
  border-color: #49A5FE;
}
.btn.btn-outline-yellow{
  color: #CED43A;
  background-color: rgba(206, 212, 58, 0.05);
  border-color: #CED43A;
}
.btn.btn-outline-yellow:hover{
  color: #CED43A;
  background-color: rgba(206, 212, 58, 0.35);
  border-color: #CED43A;
}
 
.btn.btn-outline-orange{
  color: #F16421;
  background-color: rgba(241, 100, 33, 0.15);
  border-color: #F16421;
}
.btn.btn-outline-orange:hover{
  color: #F16421;
  background-color: rgba(241, 100, 33, 0.45);
  border-color: #F16421;
}



#chartContainer{
  background-color: #222;
/*  background-color: #1A4049;*/
/*  background: #161616 url('/bg-main.png') repeat 0 0;*/
}
.shadowed{
/*  box-shadow: 0 4px 4px -2px black;*/
  -webkit-box-shadow: 0 8px 6px -6px black;
  	   -moz-box-shadow: 0 8px 6px -6px black;
  	        box-shadow: 0 8px 6px -6px black;
}
#legend{
  position:fixed;
  top:55px;
  right:10px;
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}