<template name="helper">

  <!-- ALL SETTINGS PANEL -->
  <div class="modal" id="settings-panel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Settings</h4>
          </div>
          <div class="modal-body">
              {{#each settings}}
                <h3>
                  {{name}}
                  <span class="edit-set-bar">
                    <a class="show-setting-btn btn-link"> <i class="fa fa-chevron-down"></i> </a>
                  </span>
                </h3>
                <div class="edit-{{_id}} edit-setting-container">
                  <div class="panel well">

                    <label for="set-life">Life span</label> 
                    <input class="form-control" id="edit-life-{{_id}}" type="text" value="{{which_span life}}" disabled>
                    <select id="new-life-{{_id}}" class="new-life form-control">
                      <option value="0">- leave the old one or choose new -</option>
                      <option value="-1">permanent</option>
                      <option value="1">1 day</option>
                      <option value="7">1 week</option>
                      <option value="31">1 month</option>
                      <option value="365">1 year</option>
                    </select>

                    <label for="">RegExp for the DATE</label>
                    <input class="form-control" id="edit-rgx-date-{{_id}}" type="text" placeholder="{{regex_date}}" disabled>

                    <label for="">RegExp for the Log Level</label>
                    <input class="form-control" id="edit-rgx-lvl-{{_id}}" type="text" placeholder="{{regex_lvl}}" disabled>

                    <label for="">RegExp for the CONTENT</label>
                    <input class="form-control" id="edit-rgx-content-{{_id}}" type="text" placeholder="{{regex_content}}" disabled>

                    <p>
                      <a id="edit-this-{{_id}}" class="edit-setting btn-link btn-sml"><i class="fa fa-edit"></i> edit</a>
                      <a id="save-edit-{{_id}}" class="save-btn btn-link btn-sml">save</a> 
                      &nbsp; &nbsp; &nbsp;
                      <a class="delete-setting-btn btn-link"> <i class="fa fa-trash-o"></i> delete</a>
                    </p>
                  </div>
                </div>
              {{/each}}

          </div>
          <div class="modal-footer">
            <button class="btn btn-danger close-panels">close</button>
          </div>
        </div>
      </div>
  </div>
  
  <!-- NEW SETTING PANEL -->
  <div class="modal" id="new-setting-panel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">New setting</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="set-name">Name</label>
              <input id="set-name" type="text" class="form-control"  placeholder="Filter Name">
            </div>
            <div class="form-group">
              <label for="set-life">Life span</label>
              <select id="set-life" class="form-control">
                <option value="-1">permanent</option>
                <option value="1">1 day</option>
                <option value="7">1 week</option>
                <option value="31">1 month</option>
                <option value="365">1 year</option>
              </select>
            </div>
            <div class="form-group">
              <label for="set-rgx-date">RegExp for the DATE</label>
              <input id="set-rgx-date"  class="form-control" rows="5" placeholder="New regular expression"/>
            </div>
            <div class="form-group">
              <label for="set-rgx-lvl">RegExp for the Log Level</label>
              <input id="set-rgx-lvl"  class="form-control" rows="5" placeholder="New regular expression"/>
            </div>
            <div class="form-group">
              <label for="set-rgx-content">RegExp for the CONTENT</label>
              <input id="set-rgx-content"  class="form-control" rows="5" placeholder="New regular expression"/>
            </div>
          </div>
          <div class="modal-footer">
            <button id="addNewSetting" class="btn btn-success">add</button> 
            <button class="btn btn-danger close-panels">close</button>
          </div>
        </div>
      </div>
  </div>
    
  <!-- DARK BACKGROUND FOR PANELS -->
  <div id="darken"></div>
  
</template>