<template name="helper">

  <!-- ALL SETTINGS PANEL -->
  <div class="modal" id="settings-panel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Settings</h4>
          </div>
          <div class="modal-body">
              {{#each settings}}
                <h3>{{name}}</h3>
                <span class=""><a class="edit-setting-btn btn-link">edit</a> <a class="delete-setting-btn btn-link">delete</a></span>
                <br/>
              {{/each}}
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger close-panels">close</button>
          </div>
        </div>
      </div>
  </div>
  
  <!-- NEW SETTING PANEL -->
  <div class="modal" id="new-setting-panel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">New setting</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="set-name">Name</label>
              <input id="set-name" type="text" class="form-control"  placeholder="Filter Name">
            </div>
            <div class="form-group">
              <label for="set-life">Life span</label>
              <select id="set-life" class="form-control">
                <option value="-1">permanent</option>
                <option value="1">1 day</option>
                <option value="7">1 week</option>
                <option value="31">1 month</option>
                <option value="365">1 year</option>
              </select>
            </div>
            <div class="form-group">
              <label for="set-rgx">Regex filter (can be an array, split by '###')</label>
              <input id="set-rgx"  class="well panel-object rgx-setting" rows="5" placeholder="New setting..."/>
              Output-Pattern format must be:<br/>
              YEAR-MONTH-DAY HOUR:MINUTES:SECONDS SYSTEMTAG CONTENT<br/>
              e.g.<br/>
              2013-11-13 11:13:45 MyCoolSystem This is my log content
            </div>
          </div>
          <div class="modal-footer">
            <button id="add-setting" class="btn btn-success">add</button> 
            <button class="btn btn-danger close-panels">close</button>
          </div>
        </div>
      </div>
  </div>
    
  <!-- DARK BACKGROUND FOR PANELS -->
  <div id="darken"></div>
  
</template>