<template name="helper">
  
  <!-- ALL SETTINGS PANEL -->
  <div class="modal" id="settings">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Settings</h4>
          </div>
          <div class="modal-body">
            <table class="">
            </table>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger close-panels">close</button>
          </div>
        </div>
      </div>
  </div>
  
  <!-- NEW SETTING PANEL -->
  <div class="modal" id="new-setting">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">New setting</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="set-name">Name</label>
              <input id="set-name" type="text" class="form-control"  placeholder="Filter Name">
            </div>
            <div class="form-group">
              <label for="set-life">Life span (in mins)</label>
              <input id="set-life" type="text" class="form-control"  placeholder="Empty for permanent">
            </div>
            <div class="form-group">
              <label for="set-grok">Grok filter</label>
              <textarea id="set-grok" class="well panel-object new-setting" rows="5" placeholder="New setting..."/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success add-setting">add</button> 
            <button class="btn btn-danger close-panels">close</button>
          </div>
        </div>
      </div>
  </div>
  
  <!-- DARK BACKGROUND FOR PANELS -->
  <div id="darken"></div>
</template>