body {
  padding-top:70px;
}
.home{
}
.navLogo {
  color:#fff!important;
}
.navbar-fixed-top {
  z-index:1000;
}
.logo {
  color:#4BBCDB;
}
#settingsGo{
  cursor:pointer;
}
#add-setting{
  cursor:pointer;
}
.message {
  width:75%;
}
.tim{
  font-size:12px;
}
#search{
  background-color:#D9D9D9;
  border-radius:15px;
  border:;
}
.search-btn {
  background:#4BBCDB;
}
.settings-btn {
  background:#4BBCDB;
}
#darken{
  display:none;
  background-color:#000;
  z-index:1000;
  opacity:0.8;
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
}
#new-setting-panel{
}
#settings-panel{
}
.rgx-setting:focus{
  border-color:#66AFE9;
  box-shadow:0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline:0 none;
}
.edit-setting-btn{
  color:rgba(243,196,51,1)!important;
}
.delete-setting-btn{
  color:rgba(201,50,24,1)!important;
}